* {
  margin: 0px;
}
.container {
  position: absolute;
  width: 1440px;
  height: 900px;
  text-align: center;
  clear: both;
  position: relative;
  display: inline-block;
  background-color: white;
 margin-left: 100px;
 font-family: bahij;
}


.container .maintext1 .main {
  display: inline-block;
  padding: 20px;
  font-size: 24px;
  cursor: pointer;
  margin-top: 51px;

}
.container .maintext1 .team {
  display: inline-block;
  padding: 20px;
  font-size: 24px;
  cursor: pointer;
  margin-top: 51px;
}
.container .maintext1 .lesson {
  display: inline-block;
  padding: 20px;
  font-size: 24px;
  cursor: pointer;
  margin-top: 51px;

}

.container .maintext1 .main a {
  text-decoration: none;
  color: black;
}
.container .maintext1 .team a {
  text-decoration: none;
  color: black;
}
.container .maintext1 .lesson a {
  text-decoration: none;
  color: black;
}

.container .maintext1 .main a:hover {
  color: cornflowerblue;
}
.container .maintext1 .team a:hover {
  color: cornflowerblue;
}
.container .maintext1 .lesson a:hover {
  color: cornflowerblue;
}
.containerinput {
  position: absolute;
  width: 1404px;
  height: 726px;
  left: 18px;
  top: 133px;
  margin-left: 0px;
  clear: both;
  position: absolute;
  background-color: rgb(190, 190, 190);
  border-radius: 20px;
}
.folder {
  background-color: cornflowerblue;
  box-sizing: border-box;
  position: absolute;
  width: 67px;
  height: 62px;
  border-radius: 5px;
  margin-left: 0px;
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 24px;
}
.pc {
  position: absolute;
  width: 67px;
  height: 62px;
  margin-left: 0px;
  font-size: 24px;
  left: 10px;
  top: 100px;
}
.user {
  position: absolute;
  width: 67px;
  height: 62px;
  margin-left: 0px;
  font-size: 24px;
  left: 10px;
  top: 180px;

}
.cloud{
    position: absolute;
    width: 67px;
    height: 62px;
    margin-left: 0px;
    font-size: 24px;
    left: 10px;
    top: 250px;

     }
.text1 {
  width: 400px;
  height: 100px;
  margin-left: 200px;
 margin-top: 125px;
  background-color: white;
  border-radius: 20px;
  text-align: start;
  padding-left: 10px;
  
}
.icons {
  position: absolute;
  margin-top: 192px;
  background-color: white;
  width: 90px;
  height: 310px;
  left: 0px;
  border-radius: 20px;

}

.hc {
  font-size: 20px;
}

.desc0{
  position: absolute;
  left: 220px;
  width: 400px;
  height: 100px;
  text-align: start;
  top: 400px;
  background-color: white;
  border-radius: 20px;
  padding-left: 10px;

}

.desc{
  font-size: 20px;
  padding-top: 10px;
}
.desc1{
  font-size: 16px;
}


.team1{
  position: absolute;
  text-align: start;
  width: 390px;
  height: 100px;
  top: 550px;
  left: 220px;
  font-size: 20px;
  background-color: white;
  border-radius:20px;
  padding-left: 20px;


}
.teamtxt1{
  font-size: 16px;
  padding-top: 10px;
}

.teamimg{
  width: 60px;
  height: 60px;
  float: left;
  padding-top: 15px;
}

.container .maintext1 .maintext2{
  display: inline-block;
  width: 500px;
  height: 500px;
  background-color: white;
}

.text2 {
display: inline-block;
width: 400px;
height: 100px;
background-color: white;
position: absolute;
border-radius: 20px;
top: 255px;
text-align: start;
padding-left: 10px;
}
.lia{
  font-size: 20px;
}
.text3{
  width: 400px;
  height: 250px;
  position: absolute;
  text-align: start;
 display: inline-block;
 top: 400px;
 background-color: white;
 border-radius: 20px;
 padding-left: 10px;
}
.dpimg{
  padding-top: 10px;
}
.dp{
  font-size: 20px;
}
.dptxt{
  font-size: 16px;
}

@font-face {
  src: url(/accets/fonts/bahij-sultannahia.ttf);
  font-family: bahij;
}

.ttable{
  width: 1500px;
  height: 850px;
  background-color: rgb(189, 189, 189);
 

  border-radius: 20px;
  display: inline-block;
}

.ourteam{
  font-size: 24px;
  width: 1500px;
  height: 800px;
}

.hum1{
  width: 200px;
  height: 350px;
  text-align: left;
  background-color: white;
  border-radius: 20px;
  margin-left: 100px;
  margin-top: 30px;

  display: inline-block;
}
.hum1txt1{
  position: absolute;
  display: inline-block;
  top: 290px;
  left: 155px;
}
.hum1txt2{
  position: absolute;
  display: inline-block;
  top: 310px;
  left: 130px;
}
.hum1txt3{
  position: absolute;
  display: inline-block;
  top: 440px;
  left: 130px;
}
.hum1img{
  display: inline-block;
  position: absolute;
  left: 140px;
  top: 160px;
  border-radius: 50%;
}

.hum2{
  width: 200px;
  height: 350px;
  text-align: left;
  background-color: white;
  border-radius: 20px;
  margin-left: 100px;
  margin-top: 30px;
  display: inline-block;
}

.hum2txt1{
  position: absolute;
  display: inline-block;
  top: 290px;
  left: 455px;
}
.hum2txt2{
  position: absolute;
  display: inline-block;
  top: 310px;
  left: 430px;
}

.hum2txt3{
  position: absolute;
  display: inline-block;
  top: 440px;
  left: 430px;
}
.hum2img{
  position: absolute;
  left: 440px;
  top: 160px;
  border-radius: 50%;
}
.hum3{
  width: 200px;
  height: 350px;
  text-align: left;
  background-color: white;
  border-radius: 20px;
  margin-left: 100px;
  margin-top: 30px;
  display: inline-block;
}

.hum3txt1{
  position: absolute;
  display: inline-block;
  top: 290px;
  left: 740px;
}

.hum3txt2{
  position: absolute;
  display: inline-block;
  top: 310px;
  left: 735px;
}

.hum3txt3{
  position: absolute;
  display: inline-block;
  top: 440px;
  left: 735px;
}

.hum3img{
  display: inline-block;
  position: absolute;
  left: 739px;
  top: 160px;
  border-radius: 50%;
}

.hum4{
  width: 200px;
  height: 350px;
  text-align: left;
  background-color: white;
  border-radius: 20px;
  margin-left: 100px;
  margin-top: 30px;
  display: inline-block;
}

.hum4txt1{
  position: absolute;
  display: inline-block;
  top: 290px;
  left: 1050px;
}

.hum4txt2{
  position: absolute;
  display: inline-block;
  top: 310px;
  left: 1035px;
}

.hum4txt3{
  position: absolute;
  display: inline-block;
  top: 440px;
  left: 1035px;
}

.hum4img{
  display: inline-block;
  position: absolute;
  left: 1040px;
  top: 160px;
  border-radius: 50%;
}

.hum5{
  width: 200px;
  height: 350px;
  text-align: left;
  background-color: white;
  border-radius: 20px;
  margin-left: 110px;
  margin-top: 50px;

  display: inline-block;
}

.hum5txt1{
  position: absolute;
  display: inline-block;
  top: 695px;
  left: 150px;
}

.hum5txt2{
  position: absolute;
  display: inline-block;
  top: 710px;
  left: 130px;
}
.hum5txt3{
  position: absolute;
  display: inline-block;
  top: 850px;
  left: 130px;
}

.hum5img{
  display: inline-block;
  position: absolute;
  left: 140px;
  top: 565px;
  border-radius: 50%;
}
.hum6{
  width: 200px;
  height: 350px;
  text-align: left;
  background-color: white;
  border-radius: 20px;
  margin-left: 110px;
  margin-top: 55px;
  display: inline-block;
}

.hum6txt1{
  position: absolute;
  display: inline-block;
  top: 695px;
  left: 470px;
}
.hum6txt2{
  position: absolute;
  display: inline-block;
  top: 710px;
  left: 450px;
}

.hum6txt3{
  position: absolute;
  display: inline-block;
  top: 860px;
  left: 450px;
}

.hum6img{
  display: inline-block;
  position: absolute;
  left: 455px;
  top: 570px;
  border-radius: 50%;
}

.hum7{
  width: 200px;
  height: 350px;
  text-align: left;
  background-color: white;
  border-radius: 20px;
  margin-left: 110px;
  margin-top: 55px;
  display: inline-block;
}

.hum7txt1{
  position: absolute;
  display: inline-block;
  right: 545px;
  bottom: 170px;
}

.hum7txt2{
  position: absolute;
  display: inline-block;
  right: 530px;
  bottom: 150px;
}

.hum7txt3{
  position: absolute;
  display: inline-block;
  right: 530px;
  bottom: 10px;
}

.hum7img{
  display: inline-block;
  position: absolute;
  right: 540px;
  top: 565px;
  border-radius: 50%;
}

.hum8{
  width: 200px;
  height: 350px;
  text-align: left;
  background-color: white;
  border-radius: 20px;
  margin-left: 80px;
  margin-top: 55px;
  display: inline-block;
}
.hum8txt1{
  position: absolute;
  display: inline-block;
  bottom: 165px;
  right: 265px;
}
.hum8txt2{
  position: absolute;
  display: inline-block;
  bottom: 145px;
  right: 250px;
}

.hum8txt3{
  position: absolute;
  display: inline-block;
  bottom: 10px;
  right: 245px;
}

.hum8img{
  display: inline-block;
  position: absolute;
  bottom: 200px;
  border-radius: 50%;
  right: 255px;
}

.hum1:hover{
  background-color: cornflowerblue;
  color: white;

}

.hum2:hover{
  background-color: cornflowerblue;
  color: white;
}

.hum3:hover{
  background-color: cornflowerblue;
  color: white;
}
.hum4:hover{
  background-color: cornflowerblue;
  color: white;
}
.hum5:hover{
  background-color: cornflowerblue;
  color: white;
}
.hum6:hover{
  background-color: cornflowerblue;
  color: white;
}
.hum7:hover{
  background-color: cornflowerblue;
  color: white;
}
.hum8:hover{
  background-color: cornflowerblue;
  color: white;
}
.ltable{
  height: 370px;
  width: 1000px;
  background-color: rgb(182, 180, 180);
  margin: 0 auto;
  border-radius: 20px;
  border-spacing: 0px;
}

.ltext1{
  font-size: 22px;
  margin-right:170px;
  width: 120px;
  height:60px ;
  border: 0px;
}

.td1:hover{
  background-color: white;
}
.tr1{
  border: 0px;
}

.td1{
  border: 0px;
}

.fa-solid fa-download:hover{
  background-color: cornflowerblue;
}

